@import '~flexboxgrid/dist/flexboxgrid.css';

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  background-image: url('../images/jaredd-craig-744902-unsplash.jpg');
  background-size: cover;
  background-clip: border-box;
}

.container {
  background-color: rgba(100, 100, 100, 0.7);
  width: 70vw;
  height: 80vh;
  margin: 10vh auto 0;
  overflow-y: scroll;
}

.book-teaser {
  background-size: cover;
  min-height: 300px;
  width: 210px;
  position: relative;
  margin: .6em 0;
}

ul {
  list-style: none;
}

.book-teaser ul {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 5vw;
  line-height: 1.5;
  display: none;
  margin: 0;
  color: white;
}

.book-teaser:hover ul {
  display: block;
}

.book-teaser ul li:last-child {
  text-align: right;
  padding-right: 5px;
}
